@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Normal.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

svg * {
  transition-property: fill, stroke;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: none;
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

:root {
  --color-white: #ffffff;

  --color-green: #D3FF9D;

  --color-pink-light: #FFD9E9;
  --color-pink-dark: #EB419E;

  --color-grey-light: #F8F8F8;
  --color-grey-middle: #C2C2C2;
  --color-grey-dark: #616161;

  --border-pink-thin: 4px solid var(--color-pink-light);
  --border-green-thin: 4px solid var(--color-green);

  --border-pink-bold: 12px solid var(--color-pink-light);
  --border-green-bold: 12px solid var(--color-green);

  --font-family: "Inter", sans-serif;

  --transition-duration: 0.3s;

  /* --container-paddings: 60px 8px; */
  --container-max-width: 1276px;

  --header-height: 100px;
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  background-color: var(--color-white);

  font-family: var(--font-family);
  color: var(--color-grey-dark);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.2px;
}
